
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Backend/Views/Shared/Backend.cshtml";
}

@using CNW_N8_MVC.Class;
@{ var service = ViewData["service"] as IEnumerable<CNW_N8_MVC.Class.BE_Service>;}

<div class="card">
    <div class="card-header"><strong>Sửa dịch vụ</strong> </div>
    <div class="card-body">
        <form class="form-horizontal" action="/BackendService/EditService" method="post" enctype="multipart/form-data">
            @foreach (var it in service)
            {
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Mã dịch vụ</label>
                    <div class="col-md-9">
                        <input class="form-control" id="service_id" type="text" readonly name="service_id" value="@it.Service_id">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Tên dịch vụ</label>
                    <div class="col-md-9">
                        <input class="form-control" id="service_name" type="text" name="service_name" value="@it.Service_name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Ảnh Dịch Vụ</label>
                    <div class="col-md-9">
                        <input onchange="imgFunction()" class="form-control" readonly id="myfile" type="file" name="" value="@it.Service_image">
                        <img style="width:200px; height:200px;" id="image_add" src="@it.Service_image" />
                        <input hidden id="img_hidden" name="image_url" value="" />
                    </div>
                </div>
                <div style="color:red; font-size:20px; text-align:center" id="divThongBao"></div>
                <div class="card-footer">
                    <button id="btnThem" class="btn btn-sm btn-primary" type="submit"> Submit</button>
                </div>
            }
        </form>
    </div>
</div>

<script>
    function imgFunction() {
        var path = document.getElementById("myfile").value;
        path = path.split('fakepath')[1];
        document.getElementById("image_add").src = "\\Anh_DTB" + path;
        document.getElementById("img_hidden").value = "\\Anh_DTB" + path;
    }
</script>