
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Backend/Views/Shared/Backend.cshtml";
}

@using CNW_N8_MVC.Class;
@{ var services = ViewData["services"] as IEnumerable<BE_Service>;}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-align-justify"></i> Danh sách dịch vụ</div>
            <div class="card-body">
                <table class="table table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Mã dịch vụ</th>
                            <th>Tên dịch vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var it in services)
                        {
                            <tr>
                                <td>@it.Service_id</td>
                                <td>@it.Service_name</td>
                                <td><a href="@Url.Action("Edit","BackendService", new {@id = it.Service_id})">Sửa</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
