
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Backend/Views/Shared/Backend.cshtml";
}

@using CNW_N8_MVC.Class;
@{ var locations = ViewData["locations"] as IEnumerable<BE_Location>;}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-align-justify"></i> Danh sách Địa Danh</div>
            <div class="card-body">
                <table class="table table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Mã Địa Danh</th>
                            <th>Tên Địa Danh</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var it in locations)
                        {
                            <tr>
                                <td>@it.Location_id</td>
                                <td>@it.Location_name</td>
                                <td><a href="@Url.Action("Edit","BackendLocation", new {@id = it.Location_id})">Sửa</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
